:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --active: #6bff21;

  --first-brand-color: #e9e9e9;
  --second-brand-color: #6887f4;

  --main-font: 'Montserrat';
  --title-font: 'Montserrat Black';

  font-size: 62.5%;
}
